= form_with(model: question, local: true) do |form|
  - if question.errors.any?
    #error_explanation
      %h2
        = pluralize(question.errors.count, "error")
        prohibited this question from being saved:
      %ul
        - question.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :value
    = form.text_field :value
  .actions
    = form.submit
